version: '3.5'

services:
    
    redis:
        image: redis:5.0.5
        ports:
          - "6379:6379"
        volumes:
            - ./redis:/data
    
    # Не получилось запустить server.js

    # node:
    #     image: node:10.15.1
    #     command: node server.js
    #     volumes:
    #         - ./laravel-api:/usr/src/app
    #     working_dir: /usr/src/app
    #     ports:
    #         - "8080:9080"
    #     environment:
    #         HOST: 
    #             - redis
    #     depends_on:
    #         - redis
    #         - web

    frontend:
        image: node:10.15.1
        command: npm run docker
        volumes:
            - ./game:/usr/src/app
        working_dir: /usr/src/app
        ports:
            - "3000:3000"
        environment:
            HOST: 0.0.0.0
            
        
    nginx:
        image: nginx:1.13
        ports:
            - "10080:80"
            - "443:443"
        volumes:
            - ${APP_PATH_HOST}:${APP_PATH_CONTAINER}
            - ./nginx/vhost.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - web
    
    web:
        build: ./web
        volumes:
            - ${APP_PATH_HOST}:${APP_PATH_CONTAINER}
        working_dir: ${APP_PATH_CONTAINER}
    

    db:
        image: postgres
        restart: always
        environment:
            POSTGRES_USER: root
            POSTGRES_PASSWORD: 123456
        volumes:
            - ${DB_PATH_HOST}:/var/lib/postgresql/data
        ports:
            - 5432:5432

    adminer:
        image: adminer
        restart: always
        ports:
            - 6080:8080
    
    composer:
        image: composer:2.0
        volumes:
            - ${APP_PATH_HOST}:${APP_PATH_CONTAINER}
        working_dir: ${APP_PATH_CONTAINER}
        command: composer install